.App {
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("./img/jardin-san-marcos-latin-US-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}