.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-form {
    background-color: #fefefe;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h2 {
    margin-bottom: 5.5rem;
    color: #333;
    font-size: 3rem;
}

.input-group {
    margin-bottom: .5rem;
}

.input-group input {
    width: 88%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    outline: none;
    margin-bottom: 30px;
}

.input-group input:focus {
    border-color: #5598ac;
    box-shadow: 0 0 5px rgba(85, 152, 172, 0.4);
}

.login-button {
    background-color: #000000;
    /* CAMBIAR COLOR */
    color: #fff;
    padding: 1.5rem 10rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #000000;
    /* CAMBIAR COLOR */
}