.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    /* CAMBIAR COLOR */
    padding: 15px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: relative;


}

.navbar-logo {
    font-size: 1.5rem;
    color: #ffcccb;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #000000;
    /* CAMBIAR COLOR */
}